<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-segment (ionChange)="segmentChanged($event)" [(ngModel)]="segment" value="{{ segment }}" slot="primary">
      <ion-segment-button value="home">
        <ion-icon name="calendar-outline"></ion-icon>
      </ion-segment-button>
      <ion-segment-button value="tab">
        <ion-icon name="chatbox-ellipses-outline"></ion-icon>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngFor="let year of YearList;index as i;">
    <ion-card-header (click)="showMonth(year.year,i,year.yearStatus)">
      {{'Year - '+ year.year }}
      <ion-icon name="caret-down-outline" style="float: right; cursor:pointer" *ngIf="!year.yearStatus"></ion-icon>
      <ion-icon name="caret-up-outline" style="float: right; cursor:pointer" *ngIf="year.yearStatus"></ion-icon>
    </ion-card-header>
    <ion-card-content *ngIf="year.yearStatus">
      <ion-card *ngFor="let month of MonthList;index as i;">
        <ion-card-header (click)="showDate(year.year,month.month,i,month.monthStatus)">
          {{'Month - '+ month.monthName }}
          <ion-icon name="caret-down-outline" style="float: right; cursor:pointer" *ngIf="!month.monthStatus">
          </ion-icon>
          <ion-icon name="caret-up-outline" style="float: right; cursor:pointer" *ngIf="month.monthStatus"></ion-icon>
        </ion-card-header>
        <ion-card-content *ngIf="month.monthStatus">
          <div class="blog-card mx-2 pr-2">
            <div class="content-mask">
              <span *ngFor="let tsk of DateList; let i=index; let last = last;">
                <div class="row w-100 m-0" style="flex-wrap:nowrap">

                  <div class="pt-1 col-8">
                    <div class="row w-100 m-0" style="flex-wrap:nowrap">
                      <div class="col avatarimg">
                        <ion-avatar>
                          <img src="/assets/icon/man.png">
                        </ion-avatar>
                      </div>
                      <div class="col" style="float: left;">
                        <b>{{ tsk.title | truncate : 20}}</b>
                        <div class="col-font" style="font-size:x-smaller">{{ tsk.description | truncate : 20 }}</div>
                        <div class="col-font" style="font-size:x-smaller">{{ tsk.date | date: 'dd-MM-yyyy'}}</div>
                      </div>
                    </div>
                  </div>
                  <div class="col-4 pr-2">
                    <div style="float:right; font-style: italic;font-size: 10px;">{{ tsk.time_24 | dateAgo }}</div>
                  </div>

                </div>
                <div class="row w-100 m-0" style="flex-wrap:nowrap">
                  <div col class="cardlike">
                    <img src="./assets/icon/comment.png" width="16px" height="16px"> <span
                      style="padding-left: 10px;">{{ '4' }}</span>

                    <img src="./assets/icon/heart.png" width="16px" height="16px" style="margin-left: 10px;"> <span
                      style="padding-left: 10px;">{{ '3' }}</span>
                  </div>
                </div>
                <hr *ngIf="!last">
                <span class="pb-1" *ngIf="last">&nbsp;</span>
              </span>

            </div>
          </div>
        </ion-card-content>
      </ion-card>
    </ion-card-content>
  </ion-card>
</ion-content>
